<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title> Mediscreen </title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="webjars/bootstrap/5.0.1/css/bootstrap.min.css"/>
</head>

<body>
<div class="container">
    <div class="row mt-5 text-center">
        <h3> Welcome on Mediscreen </h3>
        <p> Choose your profile :</p>
        <p><a href="/organizer">Organizer</a></p>
        <p><a href="/organizer">Doctor</a></p> <!--TODO adapter le lien ensuite-->
    </div>
</div>
</body>

</html>