<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title> Mediscreen </title>
    <link href="/img/favicon.png" rel="icon" type="image/png"/>
    <link href="webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <div class="row mt-5 text-center">
        <div class="mb-5"><img alt="Mediscreen Logo" class="rounded" height="100" src="/img/logo.png"
                               width="100"/>
        </div>
        <h3> Welcome on Mediscreen </h3>
        <p> Choose your profile :</p>
        <p><a href="/organizer">Organizer</a></p>
        <p><a href="/doctor">Doctor</a></p>
    </div>
</div>
</body>

</html>